.formWrapper {
  animation: move 300ms;
}

@keyframes move {
  0% {
    transform: translateY(-2%);
    animation-timing-function: linear;
  }

  50% {
    transform: translateY(-1%);
    animation-timing-function: linear;
  }

  75% {
    transform: translateY(1%);
    animation-timing-function: linear;
  }

  100% {
    transform: none;
    animation-timing-function: linear;
  }
}
