@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
}

#root {
  min-height: 100vh;
  background-color: #ffffff;
}

html[class="dark"] #root {
  color: #ffffff;
}

:root {
  --taskward-theme-color-dark: rgb(54, 57, 63);
  --taskward-theme-color-darker: rgb(47, 49, 54);
  --taskward-theme-color-darkest: rgb(32, 34, 37);
}
