@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  min-height: 100vh;
  background-color: #ffffff;
}

:root {
  --taskward-theme-color-dark: rgb(54, 57, 63);
  --taskward-theme-color-darker: rgb(47, 49, 54);
  --taskward-theme-color-darkest: rgb(32, 34, 37);
}
