/* stylelint-disable at-rule-no-unknown */
@import "https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&family=Noto+Sans+SC:wght@100;300;400;500;700;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap";

/* français */
@import "https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap";

@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  min-height: 100vh;
  background-color: #fff;
}

:root {
  --taskward-theme-color-dark: rgb(54 57 63);
  --taskward-theme-color-darker: rgb(47 49 54);
  --taskward-theme-color-darkest: rgb(32 34 37);
}

.en {
  font-family: "Open Sans", sans-serif;
}

/* stylelint-disable-next-line selector-class-pattern */
.zh_cn {
  font-family: "Open Sans", sans-serif, "Noto Sans SC";
}

.ja {
  font-family: "Open Sans", sans-serif, "M PLUS Rounded 1c";
}

.fr {
  font-family: Montserrat, sans-serif;
}
